<div class="container col-sm-12 col-md-8 col-lg-8 col-xl-8 px-5 px-sm-0" style="height: 750px">
  
  <!--ページ見出し-->
  <div class="row">
    <h3 class="m-5">会員情報編集</h3>
  </div>
  
  <!--編集フォーム-->
  <%= form_with model: @customer do |f| %>
    <div class="row justify-content-center">
      <table>
        <tr class="field">
          <td class="col-3">氏名</td>
          <td class="col-4 pr-4">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control border border-dark" %>
          </td>
          <td class="col-4">
            <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control border border-dark" %>
          </td>
          <td class="col-1"></td>
        </tr>
        <tr class="field">
          <td class="col-3">フリガナ</td>
          <td class="col-4 pr-4">
            <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "form-control border border-dark" %>
          </td>
          <td class="col-4">
            <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "form-control border border-dark" %>
          </td>
          <td class="col-1"></td>
        </tr>
        <tr class="field">
          <td class="col-3">郵便番号</td>
          <td class="col-4 pr-4">
            <%= f.text_field :postal_code, autocomplete: "postal_code", class: "form-control border border-dark" %>
          </td>
          <td class="col-4"></td>
          <td class="col-1"></td>
        </tr>
        <tr class="field">
          <td class="col-3">住所</td>
          <td class="col-4" colspan="3">
            <%= f.text_field :address, autocomplete: "address", class: "form-control border border-dark" %>
          </td>
        </tr>
        <tr class="field">
          <td class="col-3">電話番号</td>
          <td class="col-4 pr-4">
            <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "form-control border border-dark" %>
          </td>
          <td class="col-4"></td>
          <td class="col-1"></td>
        </tr>
        <tr class="field">
          <td class="col-3">メールアドレス</td>
          <td class="col-4 pr-4">
            <%= f.email_field :email, autocomplete: "email", class: "form-control border border-dark" %>
          </td>
          <td class="col-4"></td>
          <td class="col-1"></td>
        </tr>
      </table>
    </div>
    
    <!--編集内容保存ボタン、退会するボタン-->
    <div class="row justify-content-center mt-4">
      <div class="col-3"></div>
      <div class="col-3">
        <%= f.submit "編集内容を保存", class: 'btn btn-success btn-block' %>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <%= link_to "退会する", exit_customer_path, class: 'btn btn-danger btn-block' %>
      </div>
    </div>
  <% end %>
</div>