<div class="container">
  <div class="row">
    <h3>マイページ</h3>
  </div>
  <div class="row ml-4 my-3">
    <h4>
      <strong>登録情報</strong>
    </h4>
    <%= link_to '編集する', edit_customer_path, class: "btn btn-success ml-5" %>
  </div>
  <table class="table table-bordered border-dark m-4"  style="width: 70%">
    <tr>
      <td class="table-active" style="width: 20%">氏名</td>
      <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td class="table-active">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  <table class="m-4">
    <tr>
      <td>
        <h4>
          <strong>配送先</strong>
        </h4>
      </td>
      <td>
        <%= link_to "一覧を見る", root_path, class: "btn btn-primary ml-5 my-3" %>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          <strong>注文履歴</strong>
        </h4>
      </td>
      <td>
        <%= link_to "一覧を見る", root_path, class: "btn btn-primary ml-5" %>
      </td>
    </tr>
  </table>
  
</div>