<div class="container"> 

<div class="row my-4">
 <div class="col-2 m-0 mb-3 bg-light">
   <h3>商品編集</h3>
  </div>
 </div>


<div class="row justify-content-end">
  
<div class="col-md-8 px-5 px-sm-0 mx-auto">
<%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>

  <div class="form-group row">
     <label for="image" class="col-md-3 col-form-label">商品画像</label>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

 <div class="form-group row">
    <label for="name" class="col-md-3 col-form-label">商品名</label>
    <div class="col-md-9">
    <%= f.text_field :name, class: 'form-control col-md-6' %>
    </div>
  </div>
  
   <div class="form-group row">
    <label for="introduction" class="col-md-3 col-form-label">商品説明</label>
    <div class="col-md-9">
    <%= f.text_field :introduction, class: 'form-control col-md-6' %>
    </div>
  </div>

<div class="form-group row">
    <label for="genre_id" class="col-md-3 col-form-label">ジャンル</label>
    <div class="col-md-9">
     <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),{},{class: 'col-md-6'} %>
    </div>
  </div>

 <div class="form-group row">
    <label for="price" class="col-md-3 col-form-label">税抜価格</label>
    <div class="col-md-8">
    <%= f.text_area :price, class: 'form-control col-md-6' %>
    </div>
  </div>
 <div class="form-group row">
    <label for="is_active" class="col-md-3 col-form-label">販売ステータス</label>
    <div class="col-md-6">
    <%=f.radio_button:is_active , true %>発売中
    <%=f.radio_button:is_active , false %>発売停止中
    </div>
</div>


</div>
</div>

<div class="row mb-5">
 <div class="col offset-4">
  <%=f.submit '変更を保存',class: "btn btn-success btn-lg" %>
  </div>
 </div>

<% end %>

</div>