
<%= link_to "ジャンル一覧", admin_genres_path %>

<div class="container"> 

<div class="row justify-content-between">
<div class="col-4">商品一覧</div>
<div class="col-4">
 <%= link_to new_admin_item_path do %>
<button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
 <% end %>
</div>
</div>

<div class="row justify-content-center">
<table class="table table-striped">
<thead>
  <tr>
   <th>商品ID</th>
   <th>商品名</th>
   <th>税抜価格</th>
   <th>ジャンル</th>
   <th>ステータス</th>
  </tr>
 </thead>
<tbody>
 <tr><% @items.each do |item| %>
  <td><%= item.id %></td>
  <td><%= link_to item.name, admin_item_path(item) %></td>
  <td><%= item.price %></td>
  <td><%= item.genre.name %></td>
  <td><% if item.is_active == true %>販売中
     <% else item.is_active == false %>販売停止中
     <% end %><td>
  <td><%= link_to "Destroy", admin_item_path(item.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
  </tr>
  <% end %>
 </tr>
 
</tbody>

</table>
</div>
</div>



