<div class="container col-sm-12 col-md-8 col-lg-7 col-xl-7 px-5 px-sm-0" style="height: 750px">
<div class="row">
<h3 class="ml-5 mt-5 mb-3">管理者ログイン</h3>
  </div>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row mb-3 ml-lg-4">
    <label for="email" class="col-lg-4 col-xl-4 col-form-label">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-7 col-xl-7" %>
  </div>

  <div class="row mb-3 ml-lg-4">
   <label for="password" class="col-lg-4 col-xl-4 col-form-label">パスワード</label>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-lg-7 col-xl-7" %>
  </div>


  <div class="col-lg-4 col-xl-4">
    <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>


