

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @customer.last_name %><%= @customer.first_name %>の会員情報</h2>
      <div class="col-md-6 ml-auto">
       <%= form_with model:@customer, local:true do |f| %>

       <div class="form-group">
         <%= f.label :会員ID %>
         <%= @customer.id %>
       </div>


       <div class="form-group">
				    <%= f.label :氏名%>
				    <%= f.text_field :last_name, autofocus: true %>
				    <%= f.text_field :first_name, autofocus: true %>
			    </div>


       <div class="form-group">
				    <%= f.label :フリガナ %><br>
				    <%= f.text_field :last_name_kana, autofocus: true  %>
				    <%= f.text_field :first_name_kana, autofocus: true  %>
			    </div>

        <div class="form-group">
         <%= f.label :郵便番号 %>
         <%= f.text_field:postal_code, class: "form-control" %>
       </div>

        <div class="form-group">
         <%= f.label :住所 %>
         <%= f.text_field:address, class: "form-control" %>
       </div>

        <div class="form-group">
         <%= f.label :電話番号 %>
         <%= f.text_field:telephone_number, class: "form-control" %>
       </div>

        <div class="form-group">
         <%= f.label :メールアドレス %>
         <%= f.text_field:email, class: "form-control" %>
       </div>

        <div class="form-group">
         <%= f.label :is_deleted, '有効', value: 1 %>
         <%= f.radio_button :is_deleted, '1' %>
         <%= f.label :is_deleted, '退会', value: 0 %>
         <%= f.radio_button :is_deleted, '0' %>
        </div>

       <div class="form-group">
         <%= f.submit "変更", class: "btn btn-success" %>
       </div>
      <% end %>
      </div>
    </div>
  </div>
</div>