<div class="container col-sm-12 col-md-8 col-lg-8 col-xl-8 px-5 px-sm-0">
  
  <!--ページ見出し-->
  <div class="row">
    <h3 class="mt-5">配送先登録/一覧</h3>
  </div>
  
  <!--配送先編集フォーム-->
  <div class="row justify-content-center my-4">
    <div class="col-12">
      <%= form_with model: @address, url: address_path(@address.id) do |f| %>
      <table>
        <tr>
          <td class="col-3 p-0">郵便番号(ハイフンなし)</td>
          <td class="col-3">
            <%= f.text_field :postal_code, autocomplete: "postal_code", class: "form-control border border-dark" %>
          </td>
          <td class="col-4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td class="col-3" colspan="2">
            <%= f.text_field :address, autocomplete: "address", class: "form-control border border-dark" %>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td class="col-3">
            <%= f.text_field :name, autocomplete: "name", class: "form-control border border-dark" %>
          </td>
          <td></td>
          <td></td>
          <td>
            <div class="actions">
              <%= f.submit "変更内容を保存", class: "btn btn-success btn-block px-4" %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>