<h1>orders#index</h1>

<div class="container">
  <div class="row">
    <h3>注文履歴一覧</h3>
  </div>
  <table class="table table-bordered border-dark m-4" style="width: 100%">
    <thead>
      <tr>
        <th class="table-active">注文日</th>
        <th class="table-active">配送先</th>
        <th class="table-active">注文商品</th>
        <th class="table-active">支払金額</th>
        <th class="table-active">ステータス</th>
        <th class="table-active">注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            〒<%= order.postal_code %><br>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td>
            <% @order_details.each do |order_detail|  %>
              <% if order.id == order_detail.order_id %>
                <p>order_id：<%= order_detail.order_id %>　item_id：<%= order_detail.item_id %></p>
                <% @items.each do |item| %>
                  <% if item.id == order_detail.item_id %>
                    <p><%= item.name %></p>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td><%= order.total_payment %>円</td>
          <td><%= order.status %></td>
          <td>
            <%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>