<div class="container">
  <div class="row">
    <h3>注文履歴一覧</h3>
  </div>
  <div class="row text-center">
    <div class="col">
      <h4><strong>注文情報</strong></h4>
      <table class="table table-bordered border-dark m-4"  style="width: 100%">
        <tr>
          <td class="table-active" style="width: 30%">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="table-active">ステータス</td>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <h4><strong>請求情報</strong></h4>
      <table class="table table-bordered border-dark m-4"  style="width: 70%">
        <tr>
          <td class="table-active" style="width: 30%">商品合計</td>
          <td>
            <% @all_items_sum = 0 %>
            <% @order_details.each do |order_detail|  %>
              <% @all_items_sum += order_detail.amount * order_detail.item.add_tax_price %>
            <% end %>
            <%= @all_items_sum %>
          </td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td class="table-active"><strong>ご請求額</strong></td>
          <td><%= @order.total_payment %></td>
        </tr>
      </table>
      
    </div>
  </div>
  <h4><strong>注文内容</strong></h4>
  <table class="table table-bordered border-dark m-4" style="width: 80%">
    <thead>
      <tr>
        <th class="table-active">商品</th>
        <th class="table-active">単価（税込）</th>
        <th class="table-active">個数</th>
        <th class="table-active">小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail|  %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td>
            <%= order_detail.item.add_tax_price %>
          </td>
          <td><%= order_detail.amount %></td>
          <td>
            <% one_items_sum = order_detail.amount * order_detail.item.add_tax_price %>
            <%= one_items_sum %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>